% 10texlive-lang-ukenglish.cnf
% You can change/add entries to this file and changes will be preserved
% over upgrades, even if you have removed the main package prior
% (not if you purged it). You should leave the following pseudo comment
% present in the file!
% -_- DebPkgProvidedMaps -_-
% 
name=ukenglish file=loadhyph-en-gb.tex lefthyphenmin=2 righthyphenmin=3 synonyms=british,UKenglish
